# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.db

# Virtual Environment
venv/

# VS Code / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment/config
.env
*.log

# Flask instance folder (if used)
instance/
